.foods{
  border: 1px #e6edef solid;
  width: 50%; 
  margin: 0 0.4rem;
}

.foods .foods-title{
  padding: 1rem 1.5rem;
  margin: 0;
}

.food-img{
  max-width: 210px;
}

.good-foods-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.good-foods-content{
  background-color: #f5f9fa;
  border-radius: 15px;
  margin: 1rem 0;
  text-align: center;
  max-width: 230px;
}

.good-foods-content h3, h4, h6, p, h5, h2{
  margin: 0.5rem 0.5rem;
}

.foot-item{
  padding-top: 4px;
  border-top: 1px solid #e6edef;
}

.food-name{
  display: none;
}

.good-foods-img{
  border-radius: 5%;
  background-image: url('../images/gain-weight/brown-rice.jpg');
  background-repeat: no-repeat;
  width: 230px;
  height: 270px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border: 1px solid #272525;
}

.food-text{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  display: none;
}

.food-name{
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 600;
}

.good-foods-img:hover{
  transition: ease-in-out 0.4s;
  transform: scale(1.05);
  box-shadow: inset 0 0 155px 43px #000000;
  > h3, h4{
    display: block!important;
    text-align: center;
    margin: 0rem 1rem!important;
    padding-top: 10%;
    color: white;
  }



}