.left-header{
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: lightgray;
}

.right-header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  margin-right: 1%;
}

.right-header li a{
  margin: 4px;
  text-decoration: none;
  color: #000;
}

.right-header li a:hover, .right-header li img:hover{
  filter: brightness(70%);
}

.right-header li a:active, .right-header li img:active{
  filter: brightness(50%);
}

.right-header .sidebar-none-links{
  display: none;
}

.login-btn{
  background-color: #24695c;
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;        
  margin-left: 8px;
  transition: box-shadow 0.15s;
}

.login-btn:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.main-content{
  margin: 100px 7px 0px 290px;
  padding: 15px;
  transition: ease-in-out 0.4s;
}

.main-sidebar{
  top: 83px;
  width: 290px;
  height: 100%;
  position: fixed!important;
  border-color: rgba(36, 105, 92, 0.2);
  line-height: inherit;
  background: #fff;
  border-right: 1px solid #e6edef;
  text-align: left;
  transition: ease-in-out 0.4s;
}

body{
  margin: 0; 
  background-color: #f5f7fb;
}

.bar-item{
  display: block;
  padding: 0px 20px;
  text-align: left;
  border: none;
  white-space: normal;
  text-decoration: none;
  color: black;
}

.user-wrapper{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e6edef;
}

.bar-item-wrapper  li  a{
  font-size: 14px;
  max-width: 100%;
  position: relative;
  padding: 10px 15px;
  margin-left: 16px;
  height: 29px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

a.active{
  background-color: #24695c;
  border-color: #24695c;
  color: white;
  .icon-wrapper{
    filter: invert(1);
  }
}

.bar-item-wrapper  li  a:hover{
  background-color: #24695c;
  border-color: #24695c;
  color: white;
  .icon-wrapper {
    filter: invert(1);
  }
}

li{
  list-style-type: none;
}

.bar-item-wrapper  li{
  max-width: 90%;
}

.bar-item-wrapper{
  margin-top: 6%;
  max-width: 100%;
  display: block;
  flex-direction: column;
  overflow: scroll;
  padding-bottom: 15px;
  overflow-x: hidden;
  height: calc(100vh - 263px);
}

.main-nav{
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
  height: 85px;
}

body  *{
  font-family: "Montserrat", sans-serif;
  font-weight: 590;
}

.nav-link-wrapper{
  display: flex;
  align-items: center;
}

.nav-link-wrapper  li{
  margin-right: 25px;
  list-style-type: none;
}

.user-profile{
  width: 100px;
  height: 100px;
  border: 3.5px solid rgb(62, 90, 85);
  border-radius: 50%;
}

.user-wrapper h4{
  margin: 1rem 0;
  font-size: 14px;
}

.main-content-header{
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.main-content-title{
  border: 1px solid #e6edef;
  padding: 30px;
  background-color: #fff; 
  border-bottom: none!important;
}

.main-content-title *{
  padding: 0;
  margin: 0;
}

.main-content-body{
  border: 1px solid #e6edef;
  padding: 30px;
  background-color: #fff;
  border-top: none!important;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(41, 50, 64, 0.52);
  width: 6px;
  border-radius: 13px;
}

.custom-scrollbar::-webkit-scrollbar{
  width: 6px;
  height: 5px;
  border-radius: 13px;
}

.icon-wrapper{
  width: 20px;
  transition: filter 0.2s ease-in-out;
  padding-right: 0.75rem;
}

/*############################
#####DARK ONLY CSS START######
############################*/

body.dark-only {
  background-color: #202938;
  color: #fff;
  
  .main-sidebar, .main-content  .main-content-title, .main-content-body, .main-nav {
  background-color: #111727;
  }
  .main-content-title, .main-content-body, .foods{
    box-shadow: 1px 1px 2px 1px rgba(29, 28, 28, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .main-content-title{
    border-bottom: none;
  }
  .main-content-body{
    border-top: none;
  }
  .main-sidebar  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f5f7fb!important;
    box-shadow: inset 0 0 0 10px;
  }
  .main-sidebar{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .main-sidebar  .user-wrapper{
    box-shadow: 1px 1px 2px 1px rgba(29, 28, 28, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .main-nav{
    border-bottom: 1px solid rgba(36, 105, 92, 0.2);
    box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
  }
  .bar-item-wrapper  li  a{
    color: white;
    .icon-wrapper {
      filter: invert(1);
    }
  }
  
  .right-header li a{
    color: white;
  }
}
/*#########################
######DARK ONLY CSS END####
#########################*/



/*#########################
#####MIX THEME CSS START###
#########################*/
body.mix{
  background-color: #f5f7fb;
  .main-sidebar{
    background-color: #111727;
    color: #fff;
  }
  .main-sidebar  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #f5f7fb!important;
    box-shadow: inset 0 0 0 10px;
  }
  .main-sidebar{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
  }
  .main-sidebar .user-wrapper{
    box-shadow: 1px 1px 2px 1px rgba(29, 28, 28, 0.08);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .main-nav{
    border-bottom: 1px solid rgba(36, 105, 92, 0.2);
    box-shadow: 0 0 20px rgba(25, 124, 207, 0.08);
  }
  .bar-item-wrapper  li  a{
    color: white;
    .icon-wrapper {
      filter: invert(1);
    }
  }
  .left-header{
    display: flex;
    background-color: #111727;
    box-shadow: 1px 1px 2px 1px rgba(29, 28, 28, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .right-header li a{
    color: white;
  }
}
/*#########################
#####MIX THEME CSS END#####
#########################*/




/*#########################
######RESPONSIVE CSS START#
#########################*/

@media only screen and (max-width: 915px){
  .main-sidebar{
    display: none!important;
  }
  .main-content{
    margin: 50px 7px 0px 7px!important;
  }
  .sidebar-none-links{
    display: block!important;
  }
  h4, h3{
    padding-top: 6%;
  }
}  
