.best-mixes-wrapper{
  border: 1px #e6edef solid;
  width: 100%;
}

.best-mixes{
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.best-mixes-title{
  padding: 1rem 1.5rem;
  margin: 0;
}

.best-mixes-content{
  width: 33.333%;
}

.best-mixes-review{
  width: 66.666%;
  border-right: #e6edef 1px solid;
  border-bottom: #e6edef 1px solid;
  margin-left: 30px;
  padding-right: 30px;
}

.best-mixes-parent{
  display: flex;
  margin-bottom: 35px;
  height: 200px;
}

.mixes-image{
  width: -webkit-fill-available;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
}

.date-added{
  display: flex;
  justify-content: start;
  align-items: end;
  width: 33.333%;
}

.review-content{
  height: 55.555%;
}

.review-content p{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review-title{
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 34.555%;
}

.review-title h3{
  margin: 0;
}

.ingredients{
  height: 35px;
  background-color: #24695c;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

.bot-content{
  display: flex;
  align-items: end;
  height: 0;
}

.review-stars{
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0;
  width: 66.666%;
  color: #f9d71c;
  margin-bottom: 0;
}

.review-title-right{
  display: flex;
  align-items: center;
}

.review-title-right > *{
  margin: 0 5px;
}

.action-mixes{
  max-width: 34px;
}

.action-btn{
  height: 35px;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-btn:active{
  outline: 1px solid black;
}

.best-mixes-wrapper {
  border: 1px #e6edef solid;
  width: 100%;
}

.best-mixes {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

.best-mixes-title {
  padding: 1rem 1.5rem;
  margin: 0;
}

/*####################
######MODAL CSS#######
######################*/
.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;  
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.5s;
  animation-name: animatetop;
  animation-duration: 0.5s;
  border-radius: 7px;
}

.modal-body{
  padding: 0.2rem 1rem;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.quanity{
  color: grey;
}



/*#########################
######RESPONSIVE CSS START#
#########################*/
@media only screen and (max-width: 670px){
  .best-mixes-content {
    width: 100%;
  }

  .best-mixes-review {
    width: 100%; /* Modify to full width for small screens */
    border-right: none; /* Remove right border for small screens */
    border-bottom: #e6edef 1px solid;
    margin-left: 0; /* Remove left margin for small screens */
    padding-right: 0; /* Remove right padding for small screens */
  }

  .best-mixes-parent {
    flex-direction: column; /* Stack items vertically for small screens */
  }

  .mixes-image {
    width: 100%; /* Modify to full width for small screens */
    height: auto; /* Maintain aspect ratio for images */
  }

  .date-added, .review-content, .bot-content {
    width: 100%; /* Modify to full width for small screens */
  }

  .review-title {
    flex-direction: column; /* Stack items vertically for small screens */
    align-items: center; /* Adjust alignment for small screens */
  }

  .review-title h3 {
    margin-bottom: 5px; /* Add space between title and buttons for small screens */
  }

  .review-title-right > * {
    margin: 5px 0; /* Add space between buttons for small screens */
  }

  .action-mixes, .action-btn {
    width: 100%; /* Modify to full width for small screens */
    text-align: center; /* Center text for small screens */
  }

  .review-content p{
    display: block;
    overflow: visible;
    white-space: normal;
    -webkit-line-clamp: initial;
  }

  .best-mixes-parent{
    height: auto;
  }

  .bot-content{
    height: 20px;
    margin-bottom: 5px;
  }
}


/*#########################
######RESPONSIVE CSS END###
#########################*/